---
layout: default
title: Log
category: wp-log
---
<div class="posts">
{% for post in site.posts %}
  {% if post.categories contains 'wp-log' %}

    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

     <div class="date">
    Written on {{ post.date | date: "%B %e, %Y" }}
  </div>
<div class="fb-share-button" data-href="{{site.baseurl}}{{post.url}}" data-layout="button_count" style="position: relative; top: -8px; left: 33px;"></div>
      
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>

  {% endif %}
{% endfor %}
</div>
